h1, h2, p{
    text-align: center;
    color:white;
    font-family: sans-serif;
}

body{
    background-color: black;
}

a{
    color: white;
}

a:visited{
    color:white;
}

a:hover{
    color:gray;
}
